@tailwind components;
@tailwind utilities;

@layer components {
    .landing {
        @apply flex;
        @apply p-8 tablet:p-32;
        @apply bg-black text-white;
    }

    .overview {
        @apply mr-4 w-1/2 laptop:w-2/5;
        @apply block flex-grow;
    }

    .heading {
        @apply text-5xl font-medium leading-tight;
        @apply pt-4;
        @apply laptop:w-3/5;
    }

    .content {
        @apply pb-4;
        @apply text-gray;
        @apply laptop:w-3/5;
    }

    .ctaNormal {
        @apply cursor-default;
        @apply bg-blue text-white;
        @apply p-4 mt-16;
        @apply rounded-full;
        @apply text-center;
        @apply tablet:w-1/2;
    }

    .ctaHover {
        @apply bg-white text-black;
    }

    .cta {
        @apply ctaNormal hover:ctaHover;
    }

    .illustration {
        // stick to right
        @apply my-auto;
        @apply mr-0;
        @apply w-1/2 laptop:w-2/5;
        @apply ml-4;
        @apply sm:hidden tablet:hidden laptop:block;
    }
}
